# appbooker

Requirements
1. Django 1.8.7
2. Python 2.7

Run the Server
1. python manage.py runserver
2. Open website in browser at http://localhost:8000 or admin at http://localhost:8000/admin (admin:admin)
