<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
		<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
		<link rel="stylesheet" href="/static/css/style.css">
		<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
		<script type="text/javascript">window.__admin_utc_offset__ = "0";</script>
		<script type="text/javascript" src="/admin/jsi18n/"></script>
		<script type="text/javascript" src="/static/admin/js/core.js"></script>
		<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
		<script type="text/javascript" src="/static/admin/js/jquery.js"></script>
		<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
		<script type="text/javascript" src="/static/admin/js/actions.js"></script>
		<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
		<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
		<title>Appointments</title>
	</head>
	<body>
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
