{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
<!--
	$(function(){
		getAppointments();
		
		$('#search-form button[type="submit"]').click(function(){
			var query = $.trim($('#search-form input[name="query"]').val());
			getAppointments(query);
		});
	});
	
	function getAppointments(query = ''){
		$.ajax({
			type: 'GET',
			url: '/',
			data: {
				query: query,
			},
			success: function(response){
				$('#appointments').empty();
				var $table = $('<table class="table">');
				var $thead = $('<thead>')
				var $tr = $('<tr>');
				$tr.append('<th>Date</th><th>Time</th><th>Description</th>');
				$thead.append($tr);
				var $tbody = $('<tbody>');
				for(var i = 0; i < response.length; i++){
					var data = response[i]['fields'];
					var date = new Date(data['datetime']);
					var desc = data['desc'];
					
					var locale = "en-us";
					var month = date.toLocaleString(locale, {month: "long"});
					var time = parseTimeFromDate(date);
					var $tr = $('<tr>')
					$tr.append('<td>'+ month + ' ' + date.getUTCDate()  +'</td><td>'+ time +'</td><td>'+ desc +'</td>')
					$tbody.append($tr);
				}
				$table.append($thead);
				$table.append($tbody);
				$('#appointments').html($table);
			}
		})
	}
	
	function show(elem) {
		$('#add-form').show();
		$('#new-button').hide();
	}
	
	function hide(){
		$('#add-form')[0].reset();
		$('#add-form').hide();
		$('#new-button').show();
	}
	
	function parseTimeFromDate(date){
		var hours = date.getUTCHours() > 12 ? date.getUTCHours() - 12 : date.getUTCHours();
        var am_pm = date.getUTCHours() >= 12 ? "PM" : "AM";
        hours = hours < 10 ? "0" + hours : hours;
        var minutes = date.getUTCMinutes() < 10 ? "0" + date.getUTCMinutes() : date.getUTCMinutes();
        time = hours + ":" + minutes + " " + am_pm;
        return time
	}
	
-->
</script>

<p id="new-button">
	<a href="javascript:;" onclick="show();" class="btn btn-success">New</a>	
</p>

<form id="add-form" action="/" method="POST">
	{% csrf_token %}
	<div>
		<button type="submit" class="btn btn-success">Add</button>
		<a href="javascript:;" onclick="hide();" class="btn btn-danger">Cancel</a>
	</div>
	{{ form.as_p }}
</form>

<form id="search-form" onsubmit="return false;">
	<div>
		<input type="text" name="query" placeholder="Type here...">
	  	<button class="btn btn-primary" type="submit">Search</button>
	</div>
</form>

<div id="appointments"></div>
{% endblock %}
